fastapi==0.95.2
uvicorn[standard]
click>=8.2.1
python-dotenv
python-multipart
requests
twilio
torch
transformers==4.45.2
sentencepiece
numpy
soundfile
scipy
accelerate
torchaudio
onnx==1.20.1
onnxruntime==1.20.1
gTTS
TTS
piper-tts
indic-nlp-library
mosestokenizer
nltk
sacremoses
pydantic==1.10.24
regex
SQLAlchemy>=2.0,<3.0
pg8000>=1.31,<2.0
