fastapi
uvicorn[standard]
python-dotenv
requests
twilio
librosa
numpy
torch
transformers
huggingface_hub[cli]
sentencepiece
pydub
soundfile
scipy
accelerate
torchaudio
psycopg2-binary
python-telegram-bot[all]
APScheduler
TTS
